<div class="slide-out-bg"></div>

<div class="slide-out">
    <div class="slide-out-card">
        <LinkTo @route="author.detail" @model={{@model}} class="btn-back">
            <span class="sr-only">Back</span>
        </LinkTo>

        <div class="slide-out-heading">
            <div class="title">
                <h3>Editing: {{this.model.last}}, {{this.model.first}}</h3>
            </div>
        </div>

        <div class="slide-out-content">
            <AuthorForm @author={{this.model}} @onsubmit={{this.saveAuthor}} @toto="tototo"/>
        </div>
    </div>
</div>