<div class="modal">
    <form class="modal-card" onsubmit={{action "saveBook"}}>
        <h3 class="modal-heading">Add New Book for {{@model.author.last}}, {{@model.author.first}}</h3>

        <div class="modal-content">
            <div class="field">
                <label>Title:</label>
                <Input type="text" placeholder="First Name" @value={{this.model.book.title}}/>
            </div>

            <div class="field">
                <label>ISBN:</label>
                <Input type="text" placeholder="Last Name" @value={{this.model.book.isbn}}/>
            </div>

            <div class="field">
                <label>Publish Date:</label>
                <input type="date" placeholder="Publish Date" value={{this.model.book.publishDate}} {{on "input" this.updatePublishDate}}/>
            </div>
        </div>

        <div class="modal-footer">
            <LinkTo @route="author.detail" class="btn-clear" @model={{@model.author.id}}>Cancel</LinkTo>
            <button type="submit" class="btn-submit">Submit</button>
        </div>
    </form>
</div>