<div class="slide-out-bg"></div>

<div class="slide-out">
    <div class="slide-out-card">
        <LinkTo @route="book" class="btn-back">
            <span class="sr-only">Back</span>
        </LinkTo>

        <div class="slide-out-heading">
            <div class="title">
                <h3> {{@model.title}}</h3>

                <div class="actions">
                    <LinkTo @route="book.edit" @model={{@model}} class="btn-pop">Edit</LinkTo>
                    <button class="btn-recessed" onclick={{action 'destroyBook' @model}} type="button">Delete</button>
                </div>
            </div>

            <div class="details">
                <p>
                    <strong>Author:</strong>
                    <LinkTo @route="author.detail" @model={{@model.author}}>{{@model.author.last}}, {{@model.author.first}}</LinkTo>
                </p>
                <p>
                    <strong>Publish Date:</strong>

                    {{@model.publishDate}}
                </p>
                <p>
                    <strong>ISBN:</strong>

                    {{@model.isbn}}
                </p>
            </div>
        </div>

        <div class="slide-out-content">
            {{outlet}}
        </div>
    </div>
</div>